.secWhy{
    position: relative;
    background-color: #242933;
    width: 100%;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-items: center;
    min-height: 100vh;
    padding-top: 96px;
    padding-bottom: 96px;
}
.why{
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    display: grid;
    grid-template-columns: 20% 20% 60% ;
    grid-template-rows: 100%;
    gap: 2rem;
    width: 1300px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
    min-height: 100vh;
}
.cards1{
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 2;
    display: grid;
    grid-template-rows: 50% 50%;
    position: relative;
    top: -25px;
}
.cards2{
    grid-row-start: 1;
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    grid-template-rows: 50% 50%;
    position: relative;
}
.crd{
    margin: 10px 10px;
    padding: 10px 10px;
    border: 2px solid #DEB900;
    color: #FFF;
    top: 0%;
    transition: top 0.25s;
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 35px;
}
.crd > i, h4, p{
    padding-top: 20px;
}
.crd i{
    font-size: 175%;
}
.card1{
    color: #626b7e;
    background-color: #FFD500;
    position: relative;
}
.crd:hover{
    color: #242933;
    background-color: #FFD500;
    position: relative;
    top: -10.5px;
}
.whyStatements{
    grid-row-start: 1;
    grid-column-start: 3;
    grid-column-end: 4;
    position: relative;
    padding-left: 100px;
    padding-right: 100px;
}
.whySmall{
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.5em;
    letter-spacing: 5px;
    padding: 0;
    margin: 0;
    position: relative;
}
.whyBig{
    color: #FFF;
    font-size: 75px;
    font-weight: 800;
    padding: 0;
    margin: 0;
    text-transform: capitalize;
}
.shortDesc1{
    color: #FFF;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5em;
}
.shortDesc2{
    color: #FFF;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}
.painPoints{
    text-transform: capitalize;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    padding: 20px;
    width: max-content;
}
.painPoints ul{
    color: #FFF;
    display: flexbox;
    position: relative;
    margin-right: 40px;
    list-style-type: none;
}
.painPoints i{
    color: #FFD500;
    font-size: 100%;
    padding: 5px;
 }
.whyActions{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    padding: 20px;
 }
.learnBtn{
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    color: #333333;
    background-color: #61CE70;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-block;
    text-align: center;
    padding: 20px 48px;
    width: fit-content;
    transition: top 0.25s;
    transition: left 0.25s;
    position: relative;
}
.learnBtn:hover{
    background-color: #FFD500;
    position: relative;
    top: 3px;
    left: 3px;
}
.watchBtn{
    color: #FFD500;
    font-family: sans-serif;
    font-weight: 600;
    text-decoration: none;
    line-height: 1;
    display: inline-block;
    padding: 10px 20px;
    height: 100%;
    text-align: center;
    width: fit-content;
}
.watchBtn:hover{
    color: #242933;
    background-color: #FFD500;
    position: relative;
    top: 3px;
    left: 3px;
}
.watchBtn i{
    font-size: 170%;
    display: inline-block;
}
.watchBtn p{
    display: inline-block;
    color: #FFF;
}
.watchBtn a:hover{
    color: #242933;
}
@media screen and (max-width: 1300px) {
    
}
@media screen and (max-width: 1200px) {
    
}
@media screen and (max-width: 820px) {
    
}