
    /* display: inline-block;
    width: 30vw;
    margin: none;
    padding: none;
    border: 2px solid #f63232;
    max-height: 100%;
    max-width: 100%;
    overflow-wrap: normal; */

    
/* .section2{
    padding: 10px;
    margin: 0;
    columns: 3;
    height: 60vh;
    display: flex;
    
}
.s2cont{
    padding: 10px;
    margin: 10px;
    align-items: center;
    text-align: LEFT;
    justify-content: center;
    align-content: center;
    justify-items: center;
    display: inline;
    width: 33%;
    overflow: none;
    border: dashed;
    word-wrap: normal;
    max-width: 33%;
}
.img2{
    display: inline;
    aspect-ratio: auto;
    height: 100%;
    width: 100%;
    margin: none;
    padding: none;
}
div p.s2cont{
    display: inline;
}
div p{
    display: inline;
} */